@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

:root {
    --color-red-light: rgb(231, 77, 60); /* #E74D3C */
    --color-red-dark: rgb(192, 57, 43); /* #C0392B */
    --color-orange-light: rgb(230, 125, 34); /* #E67D22 */
    --color-orange-dark: rgb(211, 84, 0); /* #D35400 */
    --color-yellow-light: rgb(241, 196, 15); /* #F1C40F */
    --color-yellow-dark: rgb(243, 156, 18); /* #F39C12 */
    --color-green-light: rgb(46, 204, 112); /* #2ECC70 */
    --color-green-dark: rgb(39, 174, 96); /* #27AE60 */
    --color-turquoise-light: rgb(26, 188, 156); /* #1ABC9C */
    --color-turquoise-dark: rgb(22, 160, 132); /* #16A084 */
    --color-blue-light: rgb(52, 152, 219); /* #3498DB */
    --color-blue-dark: rgb(41, 128, 185); /* #2980B9 */
    --color-purple-light: rgb(156, 89, 182); /* #9C59B6 */
    --color-purple-dark: rgb(142, 68, 173); /* #8E44AD */
    --color-white-light: rgb(236, 240, 241); /* #ECF0F1 */
    --color-white-dark: rgb(189, 195, 199); /* #BDC3C7 */
    --color-gray-light: rgb(149, 165, 166); /* #95A5A6 */
    --color-gray-dark: rgb(127, 140, 141); /* #7D8C8D */
    --color-black-light: rgb(52, 73, 94); /* #34495E */
    --color-black-dark: rgb(44, 62, 80); /* #2c3e50 */
}

* {
    margin: 0;
    padding: 0;
}

content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

content:nth-child(odd) {
    background-color: var(--color-black-dark);
}

content:nth-child(even) {
    background-color: var(--color-black-light);
}

h1 {
    font-family: 'Monda', sans-serif;
    font-size: 72px;
    letter-spacing: -1px;
    color: var(--color-white-light);
    text-shadow: -4px 0px 1px var(--color-red-light), 2px 0px 3px var(--color-red-light);
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    font-family: 'Monda', sans-serif;
    font-size: 36px;
    letter-spacing: -1px;
    color: var(--color-red-light);
    text-shadow: 1px 0px 1.5px var(--color-white-light);
}